%% -*- mode: Erlang; -*-

{require_otp_vsn, "R15|R16"}.

{sub_dirs, [ "rel"]}.
% 
% 
 {erl_opts, [
     {parse_transform, lager_transform},
     no_debug_info,
     {i, "include"},
     {native },
      warn_unused_vars
 ]}.
     %warnings_as_errors,

{deps, [
        { lager, "2.0.0",    {git, "git://github.com/basho/lager.git",       {tag, "2.0.0"}}},
        { jsx,   ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master" }}},
        { soundex, ".*", {git, "git@git.ceb.loc:dn210286cbj/soundex.git", {branch, "master" }}},
	{ thrift, ".*",  {git, "git@git.ceb.loc:adaptive-brains/gen_erlthrfit_0-9-4.git",{branch,"master" } }}

]}.

{cover_enabled, true}.
{clean_files, ["deps/*/ebin", "*.eunit", "ebin"]}.
{app_bin, ["ebin"]}.
{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.
